:root {
	--wrapper-color : #ff6666;
	--nav-Menu-color : linear-gradient(to left, #d66d75, #e29587);;
	--right-Menu-color : #33cccc;
	--right-hover-color : #0099cc;
	--latest-menu-color : #4CAF50;
	--latest-text-color : white;
}


*{	
	margin: 0;
	padding: 0;
	font-family: "Times New Roma", Times, serif;
	font-size: 30px;
	
}



.mainLogo:hover{background-color: gray;}
.navMenus li:hover{background: linear-gradient(to right, #f4c4f3, #fc67fa); z-index: 3;}
.navMenus li:hover>a{color: white;}
.navMenus ul li:hover{background: linear-gradient(to right, #f4c4f3, #fc67fa); float: none;}
.navMenus ul li:hover a{color: white;}
.makingButton:active{transform: translateY(4px);}
.theLatest:hover{color: white; background-color: var(--right-hover-color);}
.aboutMe:hover{color: white; background-color: var(--right-hover-color);}
.snsIconsLinks:hover{color: white; background-color: var(--right-hover-color);}




.wrapper{width: 100%; height: 1000px; background-color: var(--wrapper-color);}
	.wrapper2{width: 90%; height: 100%; background-color: var(--wrapper-color); margin: auto;}
		.leftMenu{width: 15%; height: 1000px; float: left;}
			.mainLogo{width: 100%; height: 10%; float: left;}
				.logoImg{width: 100%; height: 100%; z-index: 2;}
			.navMenuBar{display: inline-block; width: 100%; height: 90%; background: var(--nav-Menu-color);}
				.navMenus{margin: 0; padding: 0;}
				.navMenus li{list-style: none; position: relative;}
				.navMenus a{color: black; display: block; padding: 10px 20px; text-decoration: none;}
				.navMenus ul{background: var(--nav-Menu-color); display: none; padding: 0; position: absolute; left: 100%; top: 0%; width: 100%;}
				.navMenus ul li{float: none;}
				.makingButton{display: inline-block; cursor: pointer; border-radius: 15px;}
		.middleMenu{width: 65%; height: 1000px; background-color: gray; 
					float: left; text-align: center; text-shadow: 2px 2px 5px white;
					font-size: 50px; overflow: auto;}
			.quarter{display: inline-block; width: 25%; height: 50%; margin: 0 auto; box-sizing: border-box;}
				.quarterImg{width: 100%; height: 200px;}
				.titleHeading{overflow: hidden; text-overflow: ellipsis;}
				.substance{overflow: hidden; text-overflow: ellipsis;}
			/*makingContents.html에 들어가는 css*/	
			.makeContent{width: 100%; height: 100%; background-color: skyblue; text-align: left;}	
				.inputImg{width: 100%; height: 30%;}
				.iuputTitle{width: 100%; height: 5%;}
					.writeTitle{width: 100%; height: 100%;}
				.inputKategorie{width: 100%; height: 20%;}
					.kategories{width: 100%; height: 20%;}
				.inputText{width: 100%; height: 45%;}
					.writeText{width: 100%; height: 100%; overflow: auto; font-size: 30px;}
			/*makingContents.html에 들어가는 css 끝*/			
		.rightMenu{width: 20%; height :1000px; float: left;}
			.theLatest{width: 100%; height: 40%; background-color: var(--right-Menu-color);
					   border-radius: 36px; text-align: center;}
				.latestMenu{background-color: var(--latest-menu-color); color: var(--latest-text-color); 
							width: 200px; height: 120px; border: 1px solid #ccc; font-size: 15px;
							overflow: auto; position: relative; left: 20%;}
				.latestMenu2{background-color: var(--latest-menu-color); color: var(--latest-text-color); 
							 width: 200px; height: 120px; border: 1px solid #ccc; font-size: 15px;
							 overflow: auto; position: relative; left: 20%;}	
			.aboutMe{width: 100%; height: 30%; background-color: var(--right-Menu-color); font-size: 30px;
					 border-radius: 36px; text-align: center;}
			.snsIconsLinks{width: 100%; height: 30%; background-color: var(--right-Menu-color);
						   border-radius: 36px; text-align: center;}

		