.makeContent{width: 100%; height: 100%; background-color: white; text-align: left;}	
	.inputImg{width: 100%; height: 30%;}
	.iuputTitle{width: 100%; height: 5%;}
		.writeTitle{width: 100%; height: 100%;}
	.inputKategorie{width: 100%; height: 20%;}
		.kategories{height: 20%;}
	.inputText{width: 100%; height: 40%;}
		.writeText{width: 100%; height: 100%; padding: 15px;}